{
    "debug": false,
    "bind_addr": "0.0.0.0",
    "port": 443,
    "log_path": "/var/log/pritunl.log",
    "temp_path": "/tmp/pritunl_%r",
    "local_address_interface": "auto",
    "mongodb_uri": "mongodb://{{ mongodb_admin_user }}:{{ mongodb_admin_password }}@localhost:27017/{{ mongodb_database_name }}"
}
